@import url("//hello.myfonts.net/count/34b3f5");

@font-face {
    font-family: 'TradeGothicLT';
    src: url('../fonts/34B3F5_0_0.eot');
    src: url('../fonts/34B3F5_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/34B3F5_0_0.woff2') format('woff2'),url('../fonts/34B3F5_0_0.woff') format('woff'),url('../fonts/34B3F5_0_0.ttf') format('truetype');
}

 
@font-face {
    font-family: 'TradeGothicLT-BoldTwo';
    src: url('../fonts/34B3F5_1_0.eot');
    src: url('../fonts/34B3F5_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/34B3F5_1_0.woff2') format('woff2'),url('../fonts/34B3F5_1_0.woff') format('woff'),url('../fonts/34B3F5_1_0.ttf') format('truetype');
}

 
@font-face {
    font-family: 'TradeGothicLT-BoldCondTwenty';
    src: url('../fonts/34B3F5_2_0.eot');
    src: url('../fonts/34B3F5_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/34B3F5_2_0.woff2') format('woff2'),url('../fonts/34B3F5_2_0.woff') format('woff'),url('../fonts/34B3F5_2_0.ttf') format('truetype');
}

 
@font-face {
    font-family: 'TradeGothicLT-Bold';
    src: url('../fonts/34B3F5_3_0.eot');
    src: url('../fonts/34B3F5_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/34B3F5_3_0.woff2') format('woff2'),url('../fonts/34B3F5_3_0.woff') format('woff'),url('../fonts/34B3F5_3_0.ttf') format('truetype');
}

 
@font-face {
    font-family: 'TradeGothicLTStd-Extended';
    src: url('../fonts/34B3F5_4_0.eot');
    src: url('../fonts/34B3F5_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/34B3F5_4_0.woff2') format('woff2'),url('../fonts/34B3F5_4_0.woff') format('woff'),url('../fonts/34B3F5_4_0.ttf') format('truetype');
}

 
@font-face {
    font-family: 'TradeGothicLTStd-BoldExt';
    src: url('../fonts/34B3F5_5_0.eot');
    src: url('../fonts/34B3F5_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/34B3F5_5_0.woff2') format('woff2'),url('../fonts/34B3F5_5_0.woff') format('woff'),url('../fonts/34B3F5_5_0.ttf') format('truetype');
}
